//FONTS
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

//NUNITO
$nunito: 'Nunito', sans-serif; 


//COLORS
$primary:   #4cb2bb;
$secondary: #2f2f2f;
$tertiary:  #ffffff;
$paragraph: #2a2a2a;
$txtform:   #656565;
$fondo:     #f7feff;
$footer:    #212121;
$border:    #ebebeb;
$separator: #383838;



//MEDIA QUERYS
$screen-bs:     320px;
$screen-xs:     479px;
$screen-sm:     767px;
$screen-md:     1023px;
$screen-lg:     1279px;
$screen-xl:     1439px;
$screen-xxl:    1919px;