.quote {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    background-color: $fondo;
    @include flexbox(flex-start, flex-start, row);

    @include mobile {
        flex-direction: column;
        padding: 3rem 0;
        overflow-x: hidden;
    }

    @include tablet {
        flex-direction: column;
        padding: 3rem 0;
    }
}

.info-quote {
    width: 70%;
    @include flexbox(center, center, column);

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;

    }

    .box-quote {
        width: 70%;

        @include mobile {
            width: 90%;
        }

        @include tablet {
            width: 90%;
        }

        h2 {
            font: normal normal 700 2.813rem/60px $nunito;
            text-transform: uppercase;

            @include mobile {
                font: normal normal 700 1.3rem/25px $nunito;

            }

            @include tablet {
                font: normal normal 700 2.3rem/45px $nunito;

            }

            span {
                color: $primary;
            }
        }

        p {
            font: normal normal 600 1.125rem/30px $nunito;
            color: $paragraph;

            @include mobile {
                font: normal normal 600 1rem/30px $nunito;

            }
        }

        @include boxList;
    }
}

.form-quote {
    width: 30%;
    display: grid;
    place-items: center;
    padding-right: 8rem;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
        overflow-x: hidden;

    }

    h2 {
        margin: 0;
        font: normal normal 700 1.75rem/16px $nunito;
        color: $secondary;
    }

    .bar {
        width: 80px;
        height: 5px;
        background-color: $primary;
    }

    .box-form {
        width: 90%;
        background-color: $tertiary;
        border: 1px solid $border;
        border-radius: 9px;
        padding: 2rem 0 3rem 0;
        @include flexbox(center, center, column);
        gap: 1rem;

        input {
            width: 90%;
            padding: .7rem 0 3rem 1rem;
            border: 1px solid $border;
            border-radius: 31px;
            background: $tertiary;
            color: $txtform;
            outline: none;
        }

        button {
            width: 90%;
            padding: 1rem 0;
            border: 1px solid transparent;
            border-radius: 31px;
            background-color: $primary;
            font: normal normal 700 1.25rem/17px $nunito;
            color: $tertiary;
            text-transform: uppercase;
            cursor: pointer;
            transition: .5s ease-out;

            &:hover {
                box-shadow: 0 7px 21px rgb(0 0 0 / 20%);
            }
        }
    }

    .message-box {
        &.error {
            @include messageBox(#842029, #f8d7da, #f5c2c7);
            display: block;
        }

        &.success {
            @include messageBox(#0f5132, #d1e7dd, #badbcc);
            display: block;
        }
    }
}